# Amplifier TAS2555
type persist_amp_cal_file, file_type;

# Fingerprint
type sysfs_fingerprint, sysfs_type, fs_type;
type sysfs_fpc_irq, sysfs_type, fs_type;
type sysfs_fpc_wakeup, sysfs_type, fs_type;

# NV
type nv_data_file, file_type;

type debugfs_msm_core, debugfs_type, fs_type;
type debugfs_rmts, debugfs_type, fs_type;

# Vibrator
type sysfs_vibrator, fs_type, sysfs_type;
