type nv_data_file, file_type;

type debugfs_msm_core, debugfs_type, fs_type;
type debugfs_rmts, debugfs_type, fs_type;
type sysfs_vibrator, fs_type, sysfs_type;
