allow qti_init_shell bluetooth_loader_exec:file { open read };
allow qti_init_shell configfs:file { open write };
allow qti_init_shell kmsg_device:chr_file { open write };