allow system_app fingerprintd:binder call;
#allow system_app netd:binder call;
#allow system_app sysfs:file write;
allow system_app livedisplay_sysfs:file { read write };

#test
allow system_app audiod:dir { getattr search };
allow system_app cameraserver:dir { getattr search };
allow system_app cameraserver:file { open read };
allow system_app debuggerd:dir { getattr search };
allow system_app debuggerd:file { open read };
allow system_app drmserver:dir { getattr search };
allow system_app drmserver:file { open read };
allow system_app fingerprintd:binder call;
allow system_app healthd:dir { getattr search };
allow system_app healthd:file { open read };
allow system_app init:dir { getattr search };
allow system_app init:file { open read };
allow system_app installd:dir { getattr search };
allow system_app installd:file { open read };
allow system_app kernel:dir { getattr search };
allow system_app kernel:file { open read };
allow system_app keystore:dir { getattr search };
allow system_app keystore:file { open read };
allow system_app logd:dir { getattr search };
allow system_app logd:file { open read };
allow system_app pd_mapper:dir getattr;
allow system_app per_mgr:dir { getattr search };
allow system_app per_mgr:file { open read };
allow system_app perfd:dir { getattr search };
allow system_app perfd:file { open read };
allow system_app perfprofd:file { open read };
allow system_app platform_app:dir { getattr search };
allow system_app qti:file { open read };
allow system_app rfs_access:dir { getattr search };
allow system_app rfs_access:file { open read };
allow system_app rild:dir { getattr search };
allow system_app rild:file { open read };
allow system_app rmt_storage:dir { getattr search };
allow system_app rmt_storage:file { open read };
allow system_app servicemanager:dir { getattr search };
allow system_app servicemanager:file { open read };
allow system_app su:dir { getattr search };
allow system_app su:file { open read };
allow system_app tee:dir { getattr search };
allow system_app tee:file { open read };
allow system_app thermal-engine:file { open read };
allow system_app time_daemon:dir { getattr search };
allow system_app time_daemon:file { open read };
allow system_app ueventd:dir { getattr search };
allow system_app ueventd:file { open read };
allow system_app vold:dir { getattr search };
allow system_app vold:file { open read };
